.contact_form_main {
  min-height: 100vh;
  position: relative;
}
.contact_form_wrapper {
  position: relative;
  border-radius: 10px;

  max-width: 30rem;
  margin: 0 auto;
  //   box-shadow: 0 0 10px rgb(92, 87, 87);
  background-color: rgba(92, 87, 87, 0.788);
  //   padding: 2rem 0rem;
  & .contact_form_title {
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
    font-family: "Lato";
    color: rgb(228, 222, 222);
  }
  & .contact_form_err_msg {
    margin: 0 auto;
    height: 2.5rem;
    line-height: 1rem;
  }
}

/* form starting stylings ------------------------------- */
.group {
  position: relative;
  margin-bottom: 45px;
}
input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #757575;
}
input:focus {
  outline: none;
}

/* LABEL ======================================= */
label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
