.portfolios_card_wrapper {
  padding-top: 0px;
  border-radius: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  align-content: space-between;
}
// -------------- main wrapper -------------
.portfolios_main_wrapper {
  background-image: url(../img/portfolios_main3.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  // background-color: #e9ecef;
  // background-color: #5a5a5a;
  //   margin-top: 70px;
  min-height: 100vh;
  & .portfolios_title {
    margin: 0;
    padding: 80px 0 0 0;
    color: rgb(143, 142, 142);
    font-family: "Mina";
    text-align: center;
  }
}
// -------------- main wrapper -------------

// -------------- Portfolio_landing_page_Card -------------
.portfolio_landing_page_wrapper {
  // border: 1px solid white;
  box-shadow: -1px 0px 9px 0 black;
  border-radius: 5px;
  width: 320px;
  height: 500px;
  position: relative;
  & .portfolio_landing_page_card {
    color: white;
    &_img {
      width: 320px;
      height: 200px;
      padding: 0;
      margin: 0;
      border-radius: 5px 5px 0 0;
    }
    &_details {
      // background-color: aliceblue;
      background-color: #5a5a5a;
      color: black;
      height: 300px;
      &_title {
        text-align: center;
        padding: 1rem 0 0.6rem 0;
      }
      &_minidescription {
        & ul {
          padding: 0;
          margin: 0;
          list-style: none;
          & li {
            padding-top: 0.8rem;
          }
        }
        padding: 0 1rem;
        text-indent: 1rem;
        text-align: justify;
      }
      &_moreinfobtn {
        padding-top: 1.5rem;
        text-align: center;
      }
    }
  }
}
// -------------- Portfolio_landing_page_Card -------------
