.newPortfolio_wrapper {
  position: relative;
  //   top: 60px;
  //   background-color: lightblue;
  padding: 3rem;
  height: auto;
}
.newPortfolio_form {
  position: relative;
  top: 2rem;
}

.margin-top-min-3 {
  margin-top: -1.1rem;
}
.datePickerLabel {
  font-weight: bold;
}
